<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftChatUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DEE557B22AB0D40E00221A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEE557C32AB0D40F00221A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEE557CD2AB0D40F00221A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
